@import url('https://fonts.googleapis.com/css?family=Anton:400|Lato:100,200,300,400,500,600,700');

/*--------------------Colors */

body {
    font-family: Lato;
    color: #4d4d4d;
}

.contact-button {
    background-color: #000066;
    border-color: #000066;
}

hr {
    color: rgb(255, 117, 26)
    border: 1px solid;
}

/*--------------------Heading */

.heading {
    font-family: Anton;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 250%;
    margin-left: 20px; 
    margin-bottom: 10px;
    color: #000066;
}


/*--------------------Navigation Bar */

.navbar-nav {
    font-family: Lato;
    font-weight: 500;
    font-size: 110%;
    color: #000066;
}


/*--------------------Hero Image */

#hero-outer{
    overflow:hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Anton;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 500px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(255, 117, 26, .6);

    bottom: 20px;
    right: 150px;

    position: absolute;

}

/*--------------------User Reviews */

h2 {
    text-transform: uppercase;
    font-family: Anton;
    color: #000066;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

h5 {
    text-align: center;
    font-weight: 400;
    line-height: 32px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#user-reviews {
    font-style: italic;
}

#user-reviews h2, h5 {
    font-style: normal;
}


/*--------------------Footer */

.row p {
    color: #000066;
    text-align: center;
}

.copyright p {
    font-size: 90%;
}

.social-links {
    text-align: center;
}

.social-links ul {
    padding-left: 0px;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    color: #000066;
}

/*--------------------Contact Page */

.contact-text {
    font-weight: 500;
    text-align: center;
    color: #000066;
}

form {
    padding-right: 10rem;
    padding-top: 50px;
    padding-left: 10rem;
    padding-bottom: 50px;
    background-color: #e6e6e6;
}

label {
    color: #000066;
    font-weight: 500;
}

/*--------------------Classes Page */

.classes-text {
    text-align: center;
    font-weight: 400;
    line-height: 32px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-title {
    color: #000066;
    font-weight: 700;
}

/*--------------------Media Query for cover text */
/*--------------------Media Query for cover text on tablet sized devices and smaller */

@media screen and (max-width: 943px){
    #cover-text {
        display: none;
    }
}