@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

/*--------------------Colors*/

body {
    font-family: Lato;
    color: #4d4d4d;
}

.row {
    background-color: #ffffff;
}

/*--------------------Heading*/

header {
    margin: 0;
}

.heading {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000066;
    line-height: 75px;
}

#navbar-nav {
    margin-right: 30px;
}

.nav-item {
    font-family: Lato;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

.nav-link:hover{
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/*--------------------Hero Image*/

/* Hero Image fixen komt later



